{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="red">
    <img src="{% static 'image/a.jpg' %}" alt="">
    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque porro culpa commodi quidem neque? Reprehenderit maxime aspernatur omnis nesciunt eveniet minus laboriosam ducimus fuga soluta, sunt, quis officia culpa! Error.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam qui sit quae, commodi quod laboriosam dolore eos voluptatem voluptatum et voluptate optio odio eum quam, atque magni maiores dolorem iusto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium deserunt suscipit quaerat cumque impedit provident omnis facilis, dolorem qui perspiciatis. Pariatur praesentium quo corporis iure id quam vel perspiciatis dicta!</p>

</body>
</html>